@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

*{
  font-family: Arial, sans-serif; 
  background-color: #fffffe;
}

body{
    display: flex;
    flex-direction: column;
}

.contenedor-encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5d9279;
}

header{
    display: flex;
    flex-direction: column;
    background-color: #5d9279;
    text-align: center;
}

.contenedor-encabezado #foto{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#nombre-completo{
    background: none;
    background-color: #5d9279;
    flex-grow: 100;
    font-size: 300%;
}

header > h2 {
    flex-grow: 1;
    font-size: 500;
}

#navegador{
    display: flex;
    flex-direction: row;
    background-color: #d9e4d8;
}

#navegador > ul{
    display: flex;
    flex-direction: row;
    flex-grow: 100;
    column-gap: 25%;
    background: none;
    list-style: none;
}

#navegador a{
    text-decoration: none;
    row-gap: 1.5rem;
    background: none;
    background-color: #d9e4d8;
    color: black;
}

i{
    font-size: 100px;
}   

.secciones{
    display: flex;
}

#informacion-personal{
    display: flex;
    align-items: center;
    column-gap: 3rem;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    padding: 1% 1%;
    box-shadow: 
   rgba(0, 0, 0, 0.25) 0px 54px 55px, 
   rgba(0, 0, 0, 0.12) 0px -12px 30px, 
   rgba(0, 0, 0, 0.12) 0px 4px 6px,
   rgba(0, 0, 0, 0.17) 0px 12px 13px, 
   rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#educacion{
    display: flex;
    align-items: center;
    column-gap: 3rem;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    padding: 1% 1%;
    box-shadow: 
   rgba(0, 0, 0, 0.25) 0px 54px 55px, 
   rgba(0, 0, 0, 0.12) 0px -12px 30px, 
   rgba(0, 0, 0, 0.12) 0px 4px 6px,
   rgba(0, 0, 0, 0.17) 0px 12px 13px, 
   rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#experiencia{
    display: flex;
    align-items: center;
    column-gap: 3rem;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    padding: 1% 1%;
    box-shadow: 
   rgba(0, 0, 0, 0.25) 0px 54px 55px, 
   rgba(0, 0, 0, 0.12) 0px -12px 30px, 
   rgba(0, 0, 0, 0.12) 0px 4px 6px,
   rgba(0, 0, 0, 0.17) 0px 12px 13px, 
   rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#habilidades{
    display: flex;
    align-items: center;
    column-gap: 3rem;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    padding: 1% 1%;
    box-shadow: 
   rgba(0, 0, 0, 0.25) 0px 54px 55px, 
   rgba(0, 0, 0, 0.12) 0px -12px 30px, 
   rgba(0, 0, 0, 0.12) 0px 4px 6px,
   rgba(0, 0, 0, 0.17) 0px 12px 13px, 
   rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1{
    font-family: Georgia, serif;
}

h2{
    font-size: 40px;
}

p{
    font-size: 20px;
}

h1, h2, h3 {
    font-family: 'Freeman';
}


