@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

*{
  font-family: Arial, sans-serif; 
  background-color: #fffffe;
}

body{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "encabezado encabezado encabezado encabezado encabezado encabezado"
                         "nav1 nav2 nav3 nav4 nada nada"
                         "info info info info info info"
                         "educacion educacion educacion educacion educacion educacion"
                         "experiencia experiencia experiencia experiencia experiencia experiencia"
                         "habilidades habilidades habilidades habilidades habilidades habilidades"
                         "exp-lab exp-lab exp-lab exp-lab exp-lab exp-lab"
                         "formulario formulario formulario formulario formulario formulario"
                         "referencias referencias referencias referencias referencias referencias"
                         "footer footer footer footer footer footer";
}

.foto{
    width: 60%;
    margin-right: 20px;
}

.contenedor-encabezado{
    grid-area: encabezado;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: aquamarine;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: aquamarine;
    padding: 20px;
    text-align: center;
}

#encabezado, #nombre{
    font-size: 50px;
    margin: 0;
    padding: 10px 0;
    background: none;
}

#seccion-info{
    grid-area: nav1;
}
#seccion-educacion{
    grid-area: nav2;
}
#seccion-experiencia{
    grid-area: nav3;
}
#seccion-habilidades{
    grid-area: nav4;
}

#educacion{
    grid-area: educacion;
}
#informacion-personal{
    grid-area: info;
}
#experiencia{
    grid-area: experiencia;
}
#habilidades{
    grid-area: habilidades;
}
#experiencia-laboral{
    grid-area: exp-lab;
}
#formulario{
    grid-area: formulario;
}
#referencias{
    grid-area: referencias;
}


footer{
    grid-area: footer;
}
.titulo{
    font-family: 'Times New Roman', serif;
}

h1{
    font-family: Georgia, serif;
}

h1, h2, h3 {
    font-family: 'Freeman';
}




