@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

*{
  font-family: Arial, sans-serif; 
  background-color: #fffffe;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
}   

.contenedor-encabezado{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #5d9279;
    padding: 0% 10%;
    column-gap: 25%;
}

header{
    display: flex;
    flex-direction: column;
    background-color: #5d9279;
    text-align: center;
}

.contenedor-encabezado #foto{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

#nombre-completo{
    background: none;
    background-color: #5d9279;
    font-size: 300%;
}

#titulo{
    background: none;
}

#navegador{
    display: flex;
    flex-direction: row;
    background-color: #d9e4d8;
}

#navegador > ul{
    display: flex;
    flex-direction: row;
    flex-grow: 100;
    column-gap: 20%;
    padding: 0% 15%;
    background: none;
    list-style: none;
}

#navegador li{
    background-color: #d9e4d8;
}

#navegador a{
    text-decoration: none;
    row-gap: 1.5rem;
    background: none;
    background-color: #d9e4d8;
    color: black;
    font-size: 130%;
}

i{
    font-size: 150px;
    color: #1a472a;
}   

#video{
    padding: 5% 0;
}

.secciones{
    display: flex;
    flex-wrap: wrap;
    column-gap: 3%;
    padding: 0% 5%;
}

#informacion-personal{
    display: flex;
    align-items: center;
    column-gap: 5%;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    padding: 1% 5%;
    
}


#educacion{
    display: flex;
    align-items: center;
    column-gap: 5%;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    padding: 1% 5%;
    
}

#experiencia{
    display: flex;
    align-items: center;
    column-gap: 5%;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    padding: 1% 5%;
    
}

#experiencia li{
    font-size: 18px;
}

#habilidades{
    display: flex;
    align-items: center;
    column-gap: 5%;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    padding: 1% 5%;

}

#habilidades li{
    font-size: 18px;
}

#formulario{
    padding-left: 10%;
}
form{
    margin: 0 25px;
    width: 300px;
    border: 1pt solid black;
    padding: 20px;
    border-radius: 10%;
}

input{
    outline: none;
    font-size: 120%;
}

textarea{
    font-size: 120;
}

button{
    background-color: #8ebd84;
    font-size: 150%;
}

label{
    font-size: 150%;
}

.contenedor-final{
    display: flex;
    column-gap: 10%;
    padding: 4%;
}

#referencias{
    display: flex;
    column-gap: 15%;
}

h1{
    font-family: Georgia, serif;
}

h2{
    font-size: 30px;
}

p{
    font-size: 18px;
}

span{
    font-size: 18px;
}
h1, h2, h3 {
    font-family: 'Freeman';
}


